# convert_txt_to_csv

This notebook converts an IES model .txt file into a formatted csv file ready for analysis in Excel or other software.

Use ***Shift-Enter*** or ***Ctrl-Enter*** to run the code cells.

## Step 1: Choose the file to convert

The filename of the file to be converted is set in the cell below. Modify this as needed and then run the cell.

In [1]:
filename='MyModelData.txt'

## Step 2: Run the code below to convert the file

The cell below converts the file. The new file is saved as a .csv file The filename is the original filename in Step 1 with an additional '.csv' extension. The first 5 rows of the new file are displayed in the cell output in this notebook.

In [22]:
import pandas as pd
df=pd.read_csv(filename,sep='\t',encoding = 'unicode_escape',header=[0,1,2])
df[df.columns[0]]=df[df.columns[0]].fillna(method='ffill')
df[df.columns[0]]=df[df.columns[0]].str[5:] + r'/2003'
df.insert(0,column='datetime',value=pd.to_datetime(df[df.columns[0]]+' '+df[df.columns[1]],format='%d/%b/%Y %H:%M'))
df=df.drop(columns=[df.columns[1],df.columns[2]])
df=df.set_index(df.columns[0])
df.index=df.index.rename('datetime')
new_filename=r'convert_txt_to_csv_outputs/'+filename+'.csv'
df.to_csv(new_filename)
print('NEW FILENAME:' + new_filename)
df.head()

NEW FILENAME:convert_txt_to_csv_outputs/MyModelData.txt.csv

                    Air temperature (°C)                                    \
                              North Zone        East Zone       South Zone
                        Small_Office.aps Small_Office.aps Small_Office.aps
datetime
2003-01-01 00:30:00                 19.0             19.0             19.0
2003-01-01 01:30:00                 19.0             19.0             19.0
2003-01-01 02:30:00                 19.0             19.0             19.0
2003-01-01 03:30:00                 19.0             19.0             19.0
2003-01-01 04:30:00                 19.0             19.0             19.0


                       Internal Zone        West Zone             ROOF
                    Small_Office.aps Small_Office.aps Small_Office.aps
datetime
2003-01-01 00:30:00             19.0             19.0             19.0
2003-01-01 01:30:00             19.0             19.0             19.0
2003-01-01 02:30:00             19.0             19.0             19.0
2003-01-01 03:30:00             19.0             19.0             19.0
2003-01-01 04:30:00             19.0             19.0             19.0

## Explanation

The model data in IES VistaPro can be exported using the Save icon when viewing a table. To do this:

- Run an IES simulation
- Go to the VistaPro results module
- Select the rooms of interest
- Select the model variables of interest
- View these variable in a table
- Click on the *save* icon to export this data as a .txt file.

The exported text file is not a user-firendly format. It has 2 header rows. The dates are recorded in a non-standard format (i.e. 'Wed, 01/Jan') and the dates recorded hourly on the half hour. The data and time values are also seperate columns. These features make it difficult to directly use the .txt file for analysis.

This notebook opens the .txt file, modifies the data, and then saves a newly formatted version as a comma separated variable .csv file. The new file has a single header row and standard-format datetime column (which contains the date and the time for each row). The new .csv file can be opened in Excel or python for analysis and visualisation.

Once converted, the columns in the DataFrame are accessed using the variable name, the room name and the results file name as follows:

In [24]:
df['Air temperature (°C)']['South Zone']['Small_Office.aps'].head()

datetime
2003-01-01 00:30:00    19.0
2003-01-01 01:30:00    19.0
2003-01-01 02:30:00    19.0
2003-01-01 03:30:00    19.0
2003-01-01 04:30:00    19.0
Name: Small_Office.aps, dtype: float64